$primary-font: "Lato", "Arial", sans-serif;
$header-font: "Oswald", "Arial Narrow", sans-serif;

$basic-green: #68b738;
$basic-green-rgb: rgb(104, 183, 56);
$basic-gray: #f2f2f2;
$regular-text: #444444;

$example-background: #eaeaea;

$menu-separator-color: #e6e6e6;

$footer-separator:#d9d9d9;
$card-separator:#ebebeb;

$special-gray: #666666;

$mobile-width-base: 320px;
$tablet-width-base: 768px;
$desktop-width-base: 1440px;

$mobile-padding-base: 20px;
$tablet-padding-base: 30px;
$desktop-padding-base: 110px;
