.additional-products__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width-base) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-products__list {
  display: flex;
  flex-direction: column;
}

.additional-products__product-name {
  font-family: $header-font;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

.additional-products__product {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width-base) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width-base) {
    flex-direction: row;
  }
}

.additional-products__product-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.additional-products__product-spec,
.additional-products__product-spec-value {
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
}

.additional-products__product-spec {
  text-align: center;
}

.additional-products__product-spec-value {
  text-align: right;
}

.additional-products__button {
  grid-column: 1 / 3;
}
