.block-title {
  font-family: $header-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: #000000;

  @media (min-width: $tablet-width-base) {
    font-size: 60px;
    line-height: 60px;
  }
}
