.card__title {
  font-family: $header-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
}

.card__title-link {
  text-decoration: none;
  color: #222222;
}

.card__spec-name,
.card__spec-value {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.card--more .card__title-link {
  color: #111111;
}

.card--more .card__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
