.card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width-base) {
    display: flex;
    flex-direction: column;
    width: 324px;
    min-height: 430px;
  }
}

.card__title {
  font-family: $header-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
}

.card__title-link {
  text-decoration: none;
  color: #222222;
}

.card__specs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__spec-name,
.card__spec-value {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.card--more .card__image {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../../icons/plus.svg");
}

.card--more .card__title-link {
  color: #111111;
}

.card--more .card__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.card__button {
  grid-column: 1 / 3;
}
