.contact-info__header {
  font-family: $header-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact-info__address {
  line-height: 20px;
}
