.example__wrapper {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width-base) {
    flex-direction: row;
  }
}

.example__stats {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    flex-direction: row;
  }
}

.example__stats-generic {
  display: flex;
  flex-direction: row;
}

.example__stats-total-name,
.example__stats-total-value {
  font-family: $header-font;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
