.example {
  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    border-top: 1px solid $menu-separator-color;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  @media (min-width: $desktop-width-base) {
    padding-top: 67px;
  }
}

.example__wrapper {
  background-color: $example-background;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1px $mobile-padding-base 41px $mobile-padding-base;
  position: relative;

  @media (min-width: $tablet-width-base) {
    background-color: unset;
    padding: 1px $tablet-padding-base 101px $tablet-padding-base;
    align-items: center;
    gap: 104px;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      inset: 0;
      top: 455px;
      background-color: $example-background;
    }
  }

  @media (min-width: $desktop-width-base) {
    flex-direction: row;
    padding: 1px $desktop-padding-base 75px $desktop-padding-base;

    &::after {
      top: 78px;
    }
  }
}

.example__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width-base) {
    gap: 55px;
  }

  @media (min-width: $desktop-width-base) {
    padding-top: 145px;
    padding-right: 788px;
    gap: 71px;
  }
}

.example__title {
  padding: 25px $mobile-padding-base 40px $mobile-padding-base;
  background-color: $example-background;

  @media (min-width: $tablet-width-base) {
    background-color: unset;
    padding: 0 $tablet-padding-base 0 $tablet-padding-base;
  }

  @media (min-width: $desktop-width-base) {
    padding: 0 $desktop-padding-base 0 $desktop-padding-base;
  }
}

.example__stats {
  display: flex;
  flex-direction: column;
  gap: 34px;

  @media (min-width: $tablet-width-base) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width-base) {
    flex-direction: column;
    gap: 60px;
  }
}

.example__stats-generic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width-base) {
    gap: 43px;
  }

  @media (min-width: $desktop-width-base) {
    justify-content: flex-start;
    gap: 42px;
  }
}

.example__stats-total {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width-base) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 9px;
  }

  @media (min-width: $desktop-width-base) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 63px;
  }
}

.example__stats-total-name,
.example__stats-total-value {
  font-family: $header-font;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width-base) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.12px;
  }
}

.example__text {
  margin: 0;

  @media (min-width: $tablet-width-base) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__before-after-slider {
  @media (min-width: $desktop-width-base) {
    position: absolute;
    top: -57px;
    right: 110px;
  }
}
