.feature {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width-base) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 57px;
  }
}

$elements: 4;

@media (min-width: $tablet-width-base) {
  @for $i from 0 to $elements {
    .feature:nth-child(#{$i + 1})::after {
      content: "#{$i+1}";
      position: absolute;
      top: 0;
      left: 116px;
      color: $basic-gray;
      font-size: 280px;
      line-height: 280px;
      z-index: -1;
      font-family: $header-font;
    }
  }
}

.feature__icon {
  display: block;
  background-color: $basic-green;
  min-width: 60px;
  height: 60px;
  position: relative;

  @media (min-width: $tablet-width-base) {
    min-width: 80px;
    height: 80px;
  }

  &--leaf::after {
    background-size: 30px 32px;
    background-image: url("../../icons/icon-leaf.svg");
  }

  &--powder::after {
    background-size: 27px 29px;
    background-image: url("../../icons/icon-powder.svg");
  }

  &--eat::after {
    background-size: 26px 30px;
    background-image: url("../../icons/icon-eat.svg");
  }

  &--time::after {
    background-size: 27px 31px;
    background-image: url("../../icons/icon-time.svg");
  }
}

.feature__icon::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-position: center;

  @media (min-width: $tablet-width-base) {
    width: 80px;
    height: 80px;
  }
}

.feature__description {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width-base) {
    br {
      display: block;
    }
  }

  @media (min-width: $tablet-width-base) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    width: 244px;
  }
}
