.gift-banner {
  background-color: rgba($color: $basic-green, $alpha: 0.85);
  background-image:
    linear-gradient(
      rgba($basic-green, 0.85),
      rgba($basic-green, 0.85)
    ),
    url("/images/gift-banner-background-mobile@1x.png");
  background-blend-mode: normal;
  width: 280px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 44px;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(
        rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)
      ),
      url("/images/gift-banner-background-mobile@2x.png");
    background-size: 280px 290px;
  }

  @media (min-width: $tablet-width-base) {
    width: 707px;
    height: 200px;
    background-color: rgba($color: $basic-green, $alpha: 0.85);
    background-image:
      linear-gradient(
        rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)
      ),
      url("/images/gift-banner-background-tablet@1x.png");
    background-blend-mode: normal;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 79px;
    padding-right: 124px;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(
          rgba($basic-green, 0.85),
          rgba($basic-green, 0.85)
        ),
        url("/images/gift-banner-background-tablet@2x.png");
      background-size: 707px 200px;
    }
  }

  @media (min-width: $desktop-width-base) {
    width: 245px;
    height: 288px;
    background-color: rgba($color: $basic-green, $alpha: 0.85);
    background-image:
      linear-gradient(
        rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)
      ),
      url("/images/gift-banner-background-desktop@1x.png");
    background-blend-mode: normal;
    padding: 0;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 43px;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(
          rgba($basic-green, 0.85),
          rgba($basic-green, 0.85)
        ),
        url("/images/gift-banner-background-desktop@2x.png");
      background-size: 245px 288px;
    }
  }
}

.gift-banner__icon {
  width: 78px;
  height: 81px;
  background-size: 78px 81px;
  background-image: url("../../icons/icon_gift.svg");
}

.gift-banner__text {
  text-align: center;
  vertical-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  max-width: 161px;

  @media (min-width: $tablet-width-base) {
    text-align: left;
  }

  @media (min-width: $desktop-width-base) {
    text-align: center;
  }
}
