.hero {
  @media (min-width: $desktop-width-base) {
    padding-bottom: 161px;
  }
}

.hero::after {
  @media (min-width: $desktop-width-base) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 720px;
    height: 694px;
    background-color: rgba($basic-green, 0.85);
    background-image:
      linear-gradient(
        rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)
      ),
      url("/images/index-background-desktop@1x.png");
    background-blend-mode: normal;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(
          rgba($basic-green, 0.85),
          rgba($basic-green, 0.85)
        ),
        url("/images/index-background-desktop@2x.png");
      background-size: 720px 694px;
    }
  }
}

.hero__wrapper {
  position: relative;
  padding-top: 27px;
  padding-left: $mobile-padding-base;
  padding-right: $mobile-padding-base;
  box-sizing: border-box;

  @media (max-width: ($tablet-width-base - 1)) {
    &::before {
      content: "";
      z-index: -1;
      height: 302px;
      background-color: #424146;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-size: auto 302px;
      background-image:
        linear-gradient(
          rgba($basic-green, 0.85),
          rgba($basic-green, 0.85)
        ),
        url("/images/index-background-mobile@1x.png");
      background-blend-mode: normal;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(
            rgba($basic-green, 0.85),
            rgba($basic-green, 0.85)
          ),
          url("/images/index-background-mobile@2x.png");
      }
    }
  }

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    background-color: unset;
    background-image: url("/images/index-can-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("/images/index-can-tablet@2x.png");
      background-size: 709px 609px;
    }
  }

  @media (min-width: $tablet-width-base) {
    padding: 65px 232px 526px 120px;
    gap: 50px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width-base) {
    background-color: unset;
    height: 500px;
    padding: 0;
    padding-left: 190px;
    padding-top: 110px;
    gap: 52px;
  }
}

.hero__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;

  @media (min-width: $tablet-width-base) {
    text-align: left;
    gap: 40px;
  }
}

.hero__main-header-text {
  margin: 0;
  font-family: $header-font;
  font-size: 36px;
  color: #ffffff;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width-base) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-base) {
    width: 420px;
  }
}

.hero__secondary-header-text {
  margin: 0;
  font-family: $header-font;
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: $tablet-width-base) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  text-align: center;
  padding-top: 29px;

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    display: none;
  }

  @media (min-width: $desktop-width-base) {
    position: absolute;
    top: 0;
    right: 331px;
  }
}

.hero__button {
  width: 100%;

  @media (min-width: $tablet-width-base) {
    padding: 14px;
    width: 242px;
    font-size: 20px;
    line-height: 26px;
  }
}
