.main-navigation__item-link {
  font-family: $header-font;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.main-navigation__list {
  list-style: none;

  @media (min-width: $tablet-width-base) {
    display: flex;
    flex-direction: row;
  }
}
