.main-footer__copyright-link {
  text-decoration: none;
}

.main-footer__links {
  background-color: #f2f2f2;
}

.main-footer__copyright-name {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.main-footer__copyright-icon {
  width: 27px;
  height: 34px;
  mask-size: 27px 34px;
  mask-image: url("../../icons/html-academy-logo.svg");
  background-color: $social-icon-base;

  &:hover {
    background-color: $basic-green;
  }

  &:active {
    opacity: 80%;
  }
}
