.main-footer__copyright-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer__links {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width-base) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__copyright-name {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.main-footer__copyright-icon {
  width: 27px;
  height: 34px;
  mask-size: 27px 34px;
  mask-image: url("../../icons/html-academy-logo.svg");
  background-color: $social-icon-base;

  &:hover {
    background-color: $basic-green;
  }

  &:active {
    opacity: 80%;
  }
}
