// .main-header

.main-header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header__top {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width-base) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header__navigation-toggle {
  position: relative;
  font-size: 0;
  background: 0;
  border: 0;
  padding: 0;
  width: 24px;
  height: 18px;
  display: none;

  @media (max-width: $mobile-width-base) {
    display: block;
  }
}

.main-header__navigation-toggle::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 24px;
  height: 18px;
  mask-size: 24px 18px;
  mask-image: url("../../icons/menu_icon.svg");
  background-color: #000000;
  cursor: pointer;
}

.main-header__logo-text {
  display: none;

  @media (max-width: $mobile-width-base) {
    display: block;
  }
}
