.program {
  position: relative;
  background-color: $basic-gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 20px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    padding: 77px 250px 57px 52px;
  }

  @media (min-width: $desktop-width-base) {
    width: 100%;
    max-width: 570px;
    box-sizing: border-box;
    padding: 41px 61px 59px 52px;
  }
}

.program__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    position: static;
  }
}

.program__icon {
  display: block;
  box-sizing: border-box;
  background-color: $basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    right: 0;
  }

  @media (min-width: $tablet-width-base) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width-base) {
    width: 100px;
    height: 100px;
  }
}

.program__title {
  margin: 0;
  color: #000000;
  font-family: $header-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 70px;
  padding-top: 10px;

  @media (min-width: $tablet-width-base) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width-base) {
    padding-left: 162px;
    padding-top: 35px;
  }
}

.program__link {
  font-family: $header-font;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width-base) {
    line-height: 30px;
    font-size: 20px;
    border: 0;
    padding-top: 52px;
  }

  @media (min-width: $desktop-width-base) {
    padding-top: 28px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 12px;
    mask-size: 32px 12px;
    mask-image: url("../../icons/icon_arrow.svg");
    padding-left: 15px;
    mask-clip: content-box;
    mask-origin: content-box;
    background-color: #000000;

    @media (min-width: $tablet-width-base) {
      padding-left: 26px;
      padding-bottom: 2px;
    }
  }

  &:hover {
    &::after {
      mask-image: url("../../icons/icon_arrow_long.svg");
    }
  }

  &:active {
    color: rgba(#000000, 0.3);
  }

  &:active::after {
    background-color: rgba(#000000, 0.3);
  }
}

.program__icon::after {
  content: "";
  position: absolute;
}

.program__icon--slim {
  top: 4px;
  left: 0;

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    left: auto;
    top: 92px;
    right: 63px;
  }

  @media (min-width: $desktop-width-base) {
    top: 6px;
  }
}

.program__icon--slim::after {
  width: 36px;
  height: 50px;
  background-size: 36px 50px;
  background-image: url("../../icons/cat-slim.svg");
  top: -3px;
  left: 7px;

  @media (min-width: $tablet-width-base) {
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
    top: -11px;
    left: 30px;
  }

  @media (min-width: $desktop-width-base) {
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
    top: -6px;
    left: 15px;
  }
}

.program__icon--pro {
  top: 6px;
  left: 1px;

  @media (min-width: $tablet-width-base) and (max-width: ($desktop-width-base - 1)) {
    left: auto;
    top: 92px;
    right: 63px;
  }

  @media (min-width: $desktop-width-base) {
    left: 0;
  }
}

.program__icon--pro::after {
  width: 67px;
  height: 28px;
  background-size: 67px 28px;
  background-image: url("../../icons/cat-pro.svg");
  top: 11px;
  left: -9px;

  @media (min-width: $tablet-width-base) {
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
    top: 44px;
    left: -34px;
  }

  @media (min-width: $desktop-width-base) {
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
    top: 20px;
    left: -19px;
  }
}

.program__description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width-base) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 0;
    width: 340px;
  }

  @media (min-width: $desktop-width-base) {
    padding-top: 73px;
    width: auto;
  }
}
