.programs {
  padding-bottom: 19px;

  @media (min-width: $tablet-width-base) {
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width-base) {
    padding-bottom: 70px;
  }
}

.programs__wrapper {
  padding: 20px $mobile-padding-base 0 $mobile-padding-base;
  gap: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width-base) {
    padding: 0 $tablet-padding-base 0 $tablet-padding-base;
    gap: 30px;
  }

  @media (min-width: $desktop-width-base) {
    padding: 0 $desktop-padding-base 0 $desktop-padding-base;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}
