.stat-generic {
  width: 124px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width-base) {
    width: 162px;
  }
}

.stat-generic__value {
  margin: 0;
  font-family: $header-font;
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width-base) {
    padding-top: 15px;
    padding-bottom: 9px;
    font-size: 30px;
    line-height: 37px;
  }
}

.stat-generic__name {
  text-align: center;
  background-color: $example-background;
  margin: 0;
  line-height: 12px;
  font-size: 12px;
  width: 80px;
  margin-bottom: -16px;

  @media (min-width: $tablet-width-base) {
    background-color: #ffffff;
    line-height: 14px;
    font-size: 14px;
    width: auto;
    margin-bottom: -5px;
    padding: 0 8px;
  }

  @media (min-width: $desktop-width-base) {
    background-color: $example-background;
  }
}
